<form
    method="post",
    action="/reg"
>
    <label>user</label>
    <input type='text' name="user">
    <label>pass</label>
    <input type='password' name="pass">
    <button type="submit">enviar</button>
</form>